@font-face {
    font-family: 'Releway';
    font-style: normal;
    src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Releway-bold';
    font-style: normal;
    src: url('../assets/fonts/Raleway-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Releway-SemiBold';
    font-style: normal;
    src: url('../assets/fonts/Raleway-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Releway';
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

img {
    padding: 0;
    margin: 0;
}

.mainContent {
    padding: 0 30px;
}

.header {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    padding: 30px 0;
    width: 100vw;
    position: absolute;
    z-index: 324;
    top: 0;
    left: 0;
}

.logo {
    width: 30%;
    height: 100%;
    margin-right: 30px;
    background: url('../assets/images/acuant-logo@2x@3x.png') center right no-repeat;
    background-size: contain;
}

.content {
    height: 73vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contentCenter {
    margin-top: 10vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentData {
    height: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.title {
    font-size: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Releway-SemiBold';
}

.titleWithError {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.titleWithError .icon {
    margin: 0;
    margin-bottom: 2px;
    margin-right: 10px;
}

.image {
    width: 100%;
}

.buttonsSection {

}

.buttonBg {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4696F2;
    border-radius: 2px;
}

.databuttton {
    height: 60px;
    margin-bottom: 40px;
}

.buttonBgText {
    color: #fff;
    font-family: 'Releway-SemiBold';
    text-align: center;
    padding: 0;
    margin: 0;
}

.buttonBd {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4696F2;
    border-radius: 2px;
}

.buttonBdText {
    color: #4696F2;
    font-family: 'Releway-SemiBold';
    text-align: center;
    padding: 0;
    margin: 0;
}

.inputHidden {
    display: none;
}

.loadingContainer {
    margin-top: 20px;
    position: relative;
}

.loadingHeight {
    height: 60%;
}

.photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    max-width: 80px;
}

.signature {
    max-width: 160px;
}

.icon {
    width: 26px;
    height: 26px;
    margin-top: 2px;
    margin-right: 5px;
}

.data ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.data ul li {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    padding: 2px 0;
}

.data ul li:last-child {
    border: none;
}

.type {
    width: 50%;
    font-family: 'Releway-bold';
    font-size: 14px;
}

.info {
    width: 50%;
    font-size: 14px;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingIcon {
    width: 60px;
    height: auto;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}


.findingIcon {
    width: 60px;
    height: auto;
    position: absolute;
    top:calc(50% - 30px);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: movefinder 1.5s linear infinite alternate;
    -moz-animation: movefinder 1.5s linear infinite alternate;
    -ms-animation: rmovefinder 1.5s linear infinite alternate;
    -o-animation: movefinder 1.5s linear infinite alternate;
    animation: movefinder 1.5s linear infinite alternate;
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@-webkit-keyframes movefinder /* Safari and Chrome */
{
    from {
        left: calc(20% - 30px);

    }
    to {
        left: calc(80% - 30px);
    }
}

@keyframes movefinder {
    from {
        left: calc(20% - 30px);

    }
    to {
        left: calc(80% - 30px);
    }
}

.instructions {
    background: #F0F7FF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #4696F2;
}

.rectangleList {
    margin-bottom: 10px;
}

.rectangleList li:first-child {
    padding-top: 0;
}

.rectangleList li {
    list-style: square;
    margin-left: 10px;
    padding: 5px 0;
}

.imageExample {
    display: flex;
    flex-direction: row;
}

.imageType {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.imageMessage {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 1000px) {
    body {
        background: #fff;
    }

    .mainContent {
        max-width: 280px;
        margin: auto;
        top: 10vh;
        position: relative;
        background: #fff;
        padding-bottom: 40px;
        border: 1px solid #EBEBEB;
    }

    .header {
        width: 100%;
        position: relative;
        margin: 0;
        height: 60px;
    }

    .content {
        margin-top: 0;
        height: 480px;
    }

    .contentCenter {
        margin-top: 0;
        height: 380px;
        padding-bottom: 100px;
    }

    .contentData {
        margin-top: 0;
        height: 480px;
    }

    .logo {
        margin: 0;
    }
}